<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web školy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<h1 th:text="${detailTrida.nazev}">Nazev</h1>
<h2><span>Třídní učitel: </span><span th:text="${detailTrida.tridniUcitel.jmeno}"></span><span> </span><span
        th:text="${detailTrida.tridniUcitel.prijmeni}"> Tridni ucitel</span></h2>
<h3>Žáci ve třídě</h3>
<div th:each="student:${listStudentu}">
    <table>
        <tbody>
        <tr>
            <td><a th:text="${student.prijmeni}+' '+${student.jmeno}"
                   th:href="@{/{nazevTridy}/{student}(nazevTridy=${student.trida}, student=${student.id})}"></a></td>

        </tr>
        </tbody>
    </table>
</div>
<div>
    <button><a href="/"> Zpět na seznam tříd</a>
    </button>
</div>
</h2>
</body>
</html>