<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<h1><span th:text="${konkretniStudent.jmeno}"></span><span> </span><span th:text="${konkretniStudent.prijmeni}"></span>
</h1>
<div><span>Třída: </span><a th:text="${konkretniStudent.trida}"
                            th:href="@{/{nazev}(nazev=${konkretniStudent.trida.nazev})}"></a></div>
<h2>Rodiče</h2>
<div th:each="rodic:${prehledrodicu}">
    <div><span>Příjmení a jméno: </span><span th:text="${rodic.prijmeni}+', '+${rodic.jmeno}">Prijmeni</span></div>
    <!--    <div><span>Jméno: </span><span th:text="${rodic.jmeno}">Jmeno</span></div>-->
    <div><span>E-mail: </span><span th:text="${rodic.email}">Email</span></div>
    <div><span>Telefon: </span><span th:text="${rodic.telefon}">Tel</span></div>
    <div></div>
</div>
<div>
    <button><a href="/"> Zpět na seznam tříd</a>
    </button>
</div>
</body>
</html>