<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web školy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css/}">
</head>
<body>
<h2>Seznam tříd ve škole</h2>
<div th:each="trida:${vsechnytridy}">
    <a th:text="${trida.nazev}" th:href="@{/{nazev}(nazev=${trida.nazev})}"> seznam zaku</a>
</div>
</body>
</html>